<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
    <head>
        <meta charset="UTF-8"/>
        <title>Regulamin</title>
    </head>

    <body>
        <main layout:fragment="content">
            <div class="center">
                <h1 class="indigo-text">Posiadamy swój własny regulamin.</h1>
                <h3 class="indigo-text"> Dziesięć przykazań każdego czytelnika.</h3>
                <p class="indigo-text">1.Nie będziesz oglądał filmu przed przeczytaniem książki.</p>
                <p class="indigo-text">2.Nie będziesz jadł i pił podczas czytania.</p>
                <p class="indigo-text">3.Nie będziesz zaginał rogów i kartek.</p>
                <p class="indigo-text">4.Nie będziesz łamał grzebietów, pisał i kreślił po książkach.</p>
                <p class="indigo-text">5.Nie będziesz żałował pieniędzy na kupno książek.</p>
                <p class="indigo-text">6.Nie będziesz odkładał książek w miejsca, gdzie łatwo mogą ulec zniszczeniu.</p>
                <p class="indigo-text">7.Będziesz strzegł książek przed małymi dziećmi i zwierzętami domowymi.</p>
                <p class="indigo-text">8.Pamiętaj aby w terminie oddawać pożyczone w bibliotece książki</p>
                <p class="indigo-text">9.Szanuj innych czytelników, niezależnie od tego co czytają.</p>
                <p class="indigo-text">10.Nie wyrzucaj książek, oddaj do biblioteki lub komuś podaruj.</p>
            </div>
        </main>
    </body>
</html>